<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Ride Review</title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  		  <div class="col-md-10 col-md-offset-1">
  		  
		  	<table class="table table-bordered">
		  	  <tr>
		  	    
				<td>S No.</td>
					
				<td>Licence Plate</td>
				<td>Vechiles Condition</td>
				<td>Drivers Review</td>
				<td>Over All Rating</td>
		      </tr>
		      <% for(var x=0;x<docs.length;x++) { %>
		      <tr>
		      	
				<td><%= x + 1%></td>
				 		
				<td><%= docs[x]["plateNum"][0]%></td>
				<td><%= docs[x]["person"][0]["Condition"]%></td>
				<td><%= docs[x]["person"][0]["Review"]%></td>
				<td><%= docs[x]["person"][0]["Rating"]%></td>
				
		      </tr>
		    	<%}%>  
			</table>
			
		  </div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>